/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background-color:#fff;
}
*::-webkit-scrollbar{
    display: none;
}
*{
    font-family: 'Azeret Mono', monospace;
    text-align: justify;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.r{
    border: 1px solid red;
}
.g{
    border: 1px solid green;
}
.b{
    border: 1px solid blue;
}
.page{
    padding:10px
}
.padding-s{
    padding: 20px;
}
.padding-m{
    padding: 50px
}